.vscode
.DS_Store
.cph
*.bin
output
*.exe
*.out
**/venv
**/.venv/
**/.env
**/test.sqlite
**/__pycache__
gaurav/opment/Flask/Groccio
gaurav/Development/Flask/Groccio
gaurav/Courses/MIT-Introduction-to-Algorithms