<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Jinja</title>
    <style>
        table {
            width: 50%;
            border-collapse: collapse;
            margin: 20px;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: center;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>

    <h1 style="margin:20px;">Basic HTML Table Example</h1>

    <table>
        <thead>
            <tr>
                <th>Item</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
          {% for i in data%}
            <tr>
            <td>{{ i['year']}} </td>
            <td>{{ i['awardee']}} </td>
            <td>{{ i['language']}} </td>
          {% endfor %}
        </tbody>
    </table>

</body>
</html>
